
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    border: none;
    outline: none;
    color: #333;
}

body {
    margin: 0 20px;
    background-color: #f5f5f5;
    font-family: Arial, sans-serif;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -webkit-text-stroke: 0.1px currentColor;
}

.header {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    gap: 20px;
    padding: 15px 0 15px 0;
}

.icon {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    border: 1px solid transparent;
    background:
            linear-gradient(white, white) padding-box,
            linear-gradient(45deg, #ff9a9e, #a1c4fd) border-box;
    background-clip: padding-box, border-box;
}

.button {
    padding: 10px 20px 10px 20px;
    cursor: pointer;
    font-size: 16px;
    text-align: center;
    border-radius: 1px;
    transition: ease .1s;
}

.buttons-container {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
}

.button-container-separator {
    width: 1px;
    background-color: #ccc;
    margin: 0 10px;
    align-self: stretch;
}

.radio-button {
    background-color: white;
}

.radio-button:hover {
    background: #ededed;
}

.radio-button.active {
    background: #2e2ee5;
    color: white;
}

.download-button {
    background-color: #2f2fe8;
    color: white;
}

.download-button:hover {
    background-color: #2222a8;
}

.text-container {
    min-height: 75vh;
    box-shadow: 0 2px 5px rgba(188, 184, 184, 0.1);
    padding: 10px;
    border-radius: 5px;
    background-color: white;
    font-size: 19px;
    line-height: 1.3em;
    white-space: pre-wrap;
}

.noise-control {
    display: flex;
    align-items: center;
    gap: 10px;
}

.drop-zone {
    position: relative;
    min-height: 300px;
    border: 2px dashed #aaa;
    padding: 20px;
    margin: 0;
}

.drop-zone p {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    margin: 0;
    color: #666;
    z-index: -1;
}

.header label {
    display: flex;
    align-items: center;
    gap: 10px;
}

input[type="range"] {
    -webkit-appearance: none;
    height: 4px;
    background: #ddd;
    border-radius: 2px;
    margin: 0;
}

input[type="range"]::-webkit-slider-thumb {
    -webkit-appearance: none;
    width: 16px;
    height: 16px;
    background: #2f2fe8;
    border-radius: 50%;
    cursor: pointer;
}

.results-container {
    position: relative;
    display: flex;
    flex-wrap: wrap;
    gap: 40px;

}

.delete-btn {
    position: absolute;
    font-size: 30px;
    cursor: pointer;
    width: 35px;
    height: 35px;
    border-radius: 50%;
}

.delete-btn:hover {
    background-color: #ff5b5b;
    color: whitesmoke;
}

.result-image {
    border-radius: 50%;
    border: 1px dashed #857f7f;
}

